@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Importing Roboto Font */

/*
*{
    border: 1px solid red;
  }
*/


:root{
  font-size: 20px;
  background-color: white;
  font-family: Roboto, Georgia, sans-serif;

  --headingcolour: #3B3F45;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.3rem;
}



/* CSS Grid for the header of the desktop setup. 3 portions: Logo, Picture and Content of the header */
.container-top{
    min-height: 300px;
    width: 100%;
    height: auto;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 53%;
    grid-template-rows: 10% auto;
    grid-template-areas:
    "logo pic"
    "content pic";

    /*background-color: #7287aa;*/
}


/* First Prototype logo in the corner */
.logo{
     /*background:LightSkyBlue;*/
    grid-area: logo;
    padding: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.15rem;
    align-items: center;
    vertical-align: center;

}

/* Colourful picture on the top right */
.head-pic{
    /*background:LightSalmon;*/
    grid-area: pic;
    margin-top: -10px;
    margin-right: -10px;
    height: auto;
}


/* All the words in the header */
.head-content{
    /*background:PaleTurquoise;*/
    grid-area: content;
    padding-left: 6.6%;
    height: auto;
}

h1{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: var(--headingcolour);
}

h3{
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #7D8188;
    padding-right: 27%;
}

/* Add your Event Button */
button {
    border-radius: 10px;
    border-color: #23B379;
    border-width: 4px;
    border-style: solid;
    color: #0C3440;
    background-color: white;
    padding: 12px 54px 12px 54px;

    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.45rem;
}

/* Change colour on hover */
button:hover{
    background-color: #23B379;
    color: white;
}


h2{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.35rem;
    color: var(--headingcolour);
}


#container-events{
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.event{
    border-radius: 14px;
    border-color: #190F82;
    border-width: 1px;
    border-style: solid;
    color: #0C3440;
    background-color: white;
    padding: 1.8% 8.5% 1.8% 8%;

    box-shadow: 0px 4px 6px 2px rgba(26, 5, 108, 0.25);

    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    grid-template-columns: 18fr 2fr;
    grid-template-rows: auto 1fr;
    
    grid-template-areas:
    "title title"
    "info visit-link";

    

}

.event-title{
    grid-area: title;
    align-self: end; 
    /*background: #23B379;*/
}


.event-content{
    grid-area: info;
    /*background: #0C3440;*/
}

.visit-button{
    grid-area: visit-link;
    border-radius: 17px;
    /*background: #7D8188;*/
    padding: 15px 42px 15px 42px;

    justify-self: center;
    align-self: flex-start;
    border-width: 2px;
    background-color: #23B379;
    color: white;
    
    
}

.visit-button:hover{
    background-color: white;
    color: #0C3440;
}


h4{
    font-style: normal;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1.3rem;
    margin-bottom: 11px;
    color: #3B3F45;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 7px;

}



footer{
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
    padding: 1.25rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.15rem;
    margin-bottom: -10px;
    margin-left: -10px;
}

.vertical-center{
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

/*images inside the event content divs and the logo image*/
.event-content > p > img, .logo > img{
    vertical-align: bottom;
}