/*will remove later, this is to help me visualize where each element is*/


*{
    border: 1px solid red;
}


body{
    padding: 0;
}


#header{
    height: 100vh;
    padding: 0;
    
    background-color: aquamarine;
    
    
    background-image: url('images/header_img.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
    
    
}

#nav{
    height: 100px;
    background-color: #2d3e4e;
    position: fixed;
}

#logoImage{

    /*trick to vertically align image inside of div*/
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;

    margin-left: 5vw;
}


