/*will remove later, this is to help me visualize where each element is*/


*{
    border: 1px solid red;
}


:root{
    /*variables to make things easier*/
    --navheight: 64px;
}

/*removing default padding and margin to make things less confusing*/
body{
    padding: 0;
    margin: 0;

}





#nav{
    height: var(--navheight);
    background-color: #2d3e4e;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
}

#header{
    
    height: calc(100vh - var(--navheight)); /*total height minus height of navbar, this way the image does not get blocked by the navbar*/
    padding: 0;
    
    background-color: aquamarine; /*I put this here as a tester to see if the background image is actually covering the entire div*/
    
    
    background-image: url('images/header_img.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

    
  
}

#logoImage{

    /*trick to vertically align image inside of div*/
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;

    margin-left: 5vw;

    height: calc(0.8*var(--navheight));
}

#header_words{

    position: relative;

    font-family: "Roboto";

    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    /*alignment relative to header (i hope)*/
    top: 50%;

    text-align: center;
    
}

